# Data Science Tools and Ecosystem
(exercise 2)

## Author (Exercise 11)

Sam Worley

## In this notebook, Data Science Tools and Ecosystem are summarized.
(exercise 3)

__Objectives__ (Exercise 10)

- List popular languages for Data Science
- List commonly used Libraries
- List poular DS tools
- Examples of arithmetic expressions

### Some of the popular languages that Data Scientists use are: 
(exercise 4)

1. Python 
2. R programming
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
(exercise 5)

1. Pandas
2. numpy
3. matplotlib
4. tensorflow
5. sci-kit learn
6. keras

### Exercise 6
| Data Science Tools |
|---|
| Rstudio |
| Apache Spark |
| Tensorflow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python 
(exercise 7)

In [23]:
#EXERCISE 8
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
# EXERCISE 9
# This will convert 200 minutes to hours by diving by 60
def minutestohours(x):
    return x/60

In [21]:
minutestohours(200)

3.3333333333333335